@model IEnumerable<DemoServicio.FootballWS.tTeamInfo>

@{
    ViewBag.Title = "Teams";
}

<h2>Teams</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sCountryFlag)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Html.DisplayFor(modelItem => item.sWikipediaURL)">
                @Html.DisplayFor(modelItem => item.sName)
            </a>
        </td>
        <td><img src="@Html.DisplayFor(modelItem => item.sCountryFlag)"/>
        </td>
    </tr>
}

</table>
